* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    text-align: center;
    background: url("../images/pokemon-go-body-back.jpg");
}

#theContent {
    width: 100%;
    max-width: 960px;
    padding: 40px;
    margin: 10px auto;
    background: #32f;
    /* background: #f9fcff; */
    border: 20px solid #b61c17;
    min-height: calc(100vh - 40px); 
    /* display: flex; */
    display: flexbox;
    opacity: 95%;
    outline: silver;
}

header {
    padding: 20px 0 30px 0;
}

/* pokemon go */
h1 {
    font-family: 'Bangers', cursive;
    font-size: 8em;
    color: #f10;
    text-shadow: 2px 2px 3px #fd1;
}

/* gotta answer em all */
h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    color: #fd1;
    opacity: 95%;
    /* border-bottom: 5px dotted #ffcb08; */
    margin-bottom: 10px;
    padding: 15px 0 30px 0;
}

.section-titles {
    margin: 15px 0 15px;
}

/* section titles */
h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    padding: 20px 0;
    color: white;
        border-top: 5px dotted #ffcb08;
    border-bottom: 5px dotted #ffcb08;
}

/* correct/ incorrect/ unanswered */
h5 {
        opacity: 0.5;
        font-size: 2.5em;
        color: silver;
        width: 30%;
        margin: 0 auto;
        font-family: 'Patrick Hand', cursive;
}

/* timer */
.wrap {
    width: 40%;
    margin: 15px auto;
}
/* timer */
h4 {
    font-family: 'Exo 2', sans-serif;    
    font-size: 2.5em;
    padding: 10px;
    margin: 5px;
    color: khaki;
    opacity: 65%;
    /* color: darkslategray; */
}

#start {
    font-family: 'Patrick Hand', cursive;
    padding: 5px 10px;
    /* color:grey; */
    background-color: silver;
    border: 2px solid white;
    font-size: 2.5em;
    margin: 125px 5px 15px 5px;
    border-radius: 12px;
    opacity: 15;
}

#start:hover {
    opacity: 0.75;
    color: white;
    border-color: yellow;
  }

button {
    font-family: 'Concert One', cursive;
    padding: 5px 10px;
    color:red;
    background-color: silver;
    border: 4px solid yellow;
    font-size: 1.5em;
    margin: 15px 5px;
    border-radius: 12px;
    /* opacity: 0.8; */
}

/* results */
p {
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5vh;
    padding: 10px 0;
    color: white;

}

/* button hover effects */
button:hover {
    opacity: 0.75;
    color: white;
  } 
/*   
.madeButtons {
    background-color: yellow;
    color: red;
    border: 2px solid #e24b45;
    fill-opacity: 0.5;
    padding: 5px 10px;
    font-size: 1.5em;
    font-family: 'Patrick Hand', cursive;
} 

