* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    text-align: center;
    background: url("../images/pokemon-go-body-back.jpg");
}

#theContent {
    width: 100%;
    max-width: 960px;
    padding: 40px;
    margin: 10px auto;
    background: #f9fcff;
    border: 20px solid #e24b45;
    min-height: calc(100vh - 40px); 
    /* display: flex; */
    display: flexbox;
}

/* pokemon go */
h1 {
    font-family: 'Bangers', cursive;
    font-size: 6em;
}

/* gotta answer em all */
h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    border-bottom: 5px dotted #ffcb08;
    padding: 15px 0;
}

/* section titles */
h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    padding: 10px 0;
}

/* timer */
h4 {
    font-family: 'Exo 2', sans-serif;    
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    border: 4mm ridge darkslategray;
    color: khaki;
    background-color: black;
}

p.question {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5vw;
}

p.reaction {
    font-family: 'Rock Salt', cursive;
    font-size: 2.5vw;

}

button {
    font-family: 'Patrick Hand', cursive;
    padding: 5px 10px;
    color:grey;
    background-color: lightgrey;
    border: 2px solid #008CBA;
    font-size: 1.5em;
    margin: 15px 5px;
}

/* button hover effects */
button:hover {
    background-color: #008CBA;
    color: white;
  }
  
.madeButtons {
    background-color: yellow;
    color: red;
    border: 2px solid #e24b45;
    fill-opacity: 0.5;
    padding: 5px 10px;
    font-size: 1.5em;
    font-family: 'Patrick Hand', cursive;
}