* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    text-align: center;
    background: url("../images/pokemon-go-body-back.jpg");
}

#theContent {
    width: 100%;
    max-width: 960px;
    padding: 40px;
    margin: 10px auto;
    background: #32f;
    /* background: #f9fcff; */
    border: 20px solid #b61c17;
    min-height: calc(100vh - 40px); 
    /* display: flex; */
    display: flexbox;
    opacity: 95%;
    outline: silver;
}

/* pokemon go */
h1 {
    font-family: 'Bangers', cursive;
    font-size: 6em;

    color: #f10;
    text-shadow: 2px 2px 3px #fd1;

}

/* gotta answer em all */
h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    color: #fd1;
    opacity: 75%;
    border-bottom: 5px dotted #ffcb08;
    padding: 15px 0;
}

/* section titles */
h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    padding: 10px 0;
}

/* timer */
.wrap {
    width: 30%;
    margin: 0 auto;
}
h4 {
    font-family: 'Exo 2', sans-serif;    
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    color: khaki;
    opacity: 70%;

    /* color: darkslategray; */
    
}

p.question {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5vw;
}

p.reaction {
    font-family: 'Rock Salt', cursive;
    font-size: 2.5vw;

}


#start {
    font-family: 'Patrick Hand', cursive;
    padding: 5px 10px;
    /* color:grey; */
    background-color: silver;
    border: 2px solid white;
    font-size: 1.5em;
    margin: 15px 5px;
    border-radius: 12px;
    opacity: 15;
}

#start:hover {
    opacity: 0.75;
    color: white;
  }

}
/* 
button {
    font-family: 'Patrick Hand', cursive;
    padding: 5px 10px;
    color:grey;
    background-color: silver;
    border: 2px solid white;
    font-size: 1.5em;
    margin: 15px 5px;
    border-radius: 12px;
    opacity: 0.5;

}

button hover effects
button:hover {
    opacity: 0.75;
    color: white;
  } */
/*   
.madeButtons {
    background-color: yellow;
    color: red;
    border: 2px solid #e24b45;
    fill-opacity: 0.5;
    padding: 5px 10px;
    font-size: 1.5em;
    font-family: 'Patrick Hand', cursive;
} */